.dt{display: inline-block;
    width: 30%;
    margin-left: 4rem;
}

.tabled{
    margin-top: 17rem;
   
    
}
.d{
    width: 30%;
}
.ex tr{
    background-color: #F04F00 !important;
}
.td2{
    margin-left: 24rem;
    margin-top: -5.7rem;
}